name: Build FnMacTweak

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Theos & SDK & ldid
      run: |
        # 1. Instalar Theos
        git clone --recursive https://github.com/theos/theos.git $HOME/theos
        
        # 2. Descargar SDKs (Vital para compilar para iOS)
        curl -LO https://github.com/theos/sdks/archive/master.zip
        unzip -q master.zip
        mkdir -p $HOME/theos/sdks
        mv sdks-master/*.sdk $HOME/theos/sdks/
        rm -r sdks-master master.zip
        
        # 3. Instalar LDID (Para firmar el paquete)
        brew install ldid
        mkdir -p $HOME/theos/bin
        ln -s $(which ldid) $HOME/theos/bin/ldid

    - name: Compile
      run: |
        export THEOS=$HOME/theos
        # Compilar forzando arm64 (iPhone)
        make package FINALPACKAGE=1 ARCHS=arm64
        
    - name: Upload Build
      uses: actions/upload-artifact@v4
      with:
        name: FnMacTweak_Files
        path: |
          packages/*.deb
          .theos/obj/debug/arm64/*.dylib
